* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background-color:#37cc9a;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.view.view-main{
  display: none;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.connected-row{
    margin-top: 50px;
}

.auto-refresh-hidden{
    margin-top: -29px;
}

#create-group-btn{
    margin: 5px 0px;
}

#logo-login-screen, #logo-signup-screen{
    width: 20%;
    margin-left: 40%;
    margin-top: 7vh;
    border: 3px solid white;
    border-radius: 50%;
}

#logo-preloader{
    width: 40%;
    margin-left: 31%;
    margin-top: 35vh;
    animation-duration: 2000ms;
    /* animation-delay: 1800ms; */
    /* animation-name: example2;
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite; */
}

.login-screen{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#37cc9a;
    background-image:linear-gradient(top, #E9E9E9 0%, #37cc9a 51%);
    background-image:-webkit-linear-gradient(top, #E9E9E9 0%, #37cc9a 51%);
    background-image:-ms-linear-gradient(top, #E9E9E9 0%, #37cc9a 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,

        /* a4ddcb */
        color-stop(0.46, #E9E9E9),
        color-stop(0.74, #a4ddcb),
        color-stop(0.89, #37cc9a)
    );
    background-attachment:fixed;
}

#preload-screen{
    display: block !important;
}

.task-done .material-icons{
  color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 50%;
  padding: 1px;
}

/* fw7 mods */

.md .navbar + .toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ * .page-content, .md .navbar + .toolbar:not(.toolbar-bottom-md):not(.messagebar) ~ .page-content {
  padding-top: 60px !important;
}

.md .list{
  margin: 20px 0px !important;
}

.card-content-padding .date{
  color: #8e8e93;
}

.md .chip{
    font-size: 11px !important;
    height: 25px !important;
    line-height: 25px !important;
    margin-bottom: 7px;
}

.md .chip-media{
    height: 25px !important;
    width: 25px !important;
}

.md .chip-media .material-icons{
    font-size: 18px !important;
}

/* COLORS */
.dodger{ background-color: red !important; }
.taidi{ background-color: #37cc9a !important; }

.taidi-border{ border: 2px solid #37cc9a !important; }
